body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    display: flex;
}

.draw-container {
	width: 350px;
    height: 440px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.draw-field {
    width: 350px;
	height: 350px;
	border: 2px dashed #fdd835;
}

.text {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
	color: #fdd835;
	text-transform: uppercase;
}